button {
    border-radius:4px;
    background-color: #AC2F2F;
    color: white;
    border: none;
    height:40px;
    padding: 10px 0;
    width: 100%;
    /* transition: background-color 0.3s ease; */
}

button:hover {
    background-color: #fff;
    color: #AC2F2F;
}
