.timer-container {
    height: 60px;
    width: 200px;
    background-color: #C4AB8D; 
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 32px;
    font-weight: bold;
    color: #E4E6EB;
    display: flex;
    font-size:48px;
    align-items: center;
    justify-content: center;
    text-shadow: none;
}

.timer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.timer-number {
    color: #E4E6EB;
}

.timer-colon {
    color: #A0A0A0;
    margin: 0 2px;
}

.timer-number, .timer-colon {
    color: #AC2F2F;
}