.nicknameInputContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



img {
    padding: 0 10px;
    width: 48px;
}

.nicknameInput {
    text-align: center;
    line-height: normal;
    padding: 0;
    height: 44px;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
}



.nicknameInput::placeholder {
    text-align: center;
    line-height: normal;
    vertical-align: middle;
    color: #F5F5F0; 
}

.nicknameInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F5F5F0; 
}

.nicknameInput::-ms-input-placeholder { /* Microsoft Edge */
    color: #F5F5F0; 
}