.nicknameInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 700px;
    margin: 0 auto;
}

.nicknameInput {
    width: 100%;
    height: 56px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 2rem;
}

.nicknameRandomBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 586px;
    margin: 0 auto;
    height: 44px;
    padding-right: 70px;
}

.nicknameRandomBtn {
    cursor: pointer;
    font-size: 28px;
    color: #4A4A4A;
    font-weight: bold;
    font-family: 'NeoDunggeunmo Pro', sans-serif;
    transition: color 0.3s ease;
    text-decoration: underline;
    padding:5px 10px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nicknameRandomBtn:hover {
    color: #666666;
}

/* 다음 버튼 이미지 스타일링 */
.nicknameInputContainer img {
    cursor: pointer;
    margin-left: 10px;
    height: 44px;
    width: auto;
}

.nicknameInput::placeholder {
    text-align: center;
    line-height: normal;
    vertical-align: middle;
    color: #F5F5F0; 
}

.nicknameInput:-ms-input-placeholder {
    color: #F5F5F0; 
}

.nicknameInput::-ms-input-placeholder {
    color: #F5F5F0; 
}