

/* ProgressBar 컴포넌트의 스타일 오버라이드 */
.custom-progress-bar {
    border-radius: 15px !important;
    overflow: visible !important; /* 이미지가 바깥으로 나갈 수 있도록 */
}

.character-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: auto;
    transition: left 1s linear;
    z-index: 1;
}