.custom-progress-bar {
    border-radius: 15px !important;
    overflow: visible !important;
}

.character-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: auto;
    transition: left 1s linear;
    z-index: 1;
}

.custom-progress-bar {
    background-color:#AC2F2F;
}

.completed-bar {
    border-radius:15px;
}

.session-bar-container {
    position: relative;
    width: 100%;
}

.timeRemainedText {
    position: absolute !important;
    right: 20px !important; /* 오른쪽 여백 조정 */
    transform: translateY(-50%) !important;
    top: 50% !important;
}

.completed-bar > div {
    position: relative !important;
    z-index: 1 !important;
}

.bomb-image {
    position: absolute !important;
    right: 0 !important;
    z-index: 0 !important;
}
