.status-bar {
    display: grid;
    grid-template-columns: 200px 200px 3fr 2fr 200px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #363C4A;
    padding: 0 20px;
}

.teamLogo {
    width: 72px;
    height: 72px;
    padding: 0;
}

#session-title {
    width:100%;
    color: white;
}

.sessionTitleContainer {
    width: 300px;
    display: block;
}
