.status-bar {
    background-color: blue;
    display:grid;
    grid-template-columns: 300px 2fr 1fr 300px;
    align-items:center;
    justify-content: space-between;
    width:100%;
}

.teamLogo {
    height:80px;
    width:80px;
}