.username-word-card {
    position: absolute;
    top: 10px;
    left: 32%;
    transform: translateX(-50%);
    padding: 4px;
    border-radius: 10px;
    color: #1F2937;
    transition: transform 0.2s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.4rem;
    width: 60%;
    text-align: center;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2rem;
}

.username {
    font-weight: 600;
}

.username-word-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.forbidden-word, .word-count {
    margin: 3px 0;
}

.forbidden-word span, .word-count span {
    opacity: 0.8;
    margin-right: 8px;
}

.username-forbidden-word {
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-word-card > .username {
    display: flex;
    justify-content: center;
    align-items: center;
}
