.Chatlist {
  margin-top: 250px;
  margin-bottom: 300px;
  color: #000000;
  flex-grow: 1;
  overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 */
  list-style-type: none;
  padding: 50px;
  padding-bottom: 70px;
  margin: 0;
  max-height: 100%;
}

.Chatlist li {
  line-height: 1.5; /* 줄 간격 조절 */
  margin: 15px 0; /* 리스트 항목 간의 여백 추가 */
}

.beforeToggleContainer {
  overflow: hidden;
  background-color: #333;
  color: #ffffff;

  top: 0;
  width: 100%;
}


.Card {
  display: flex;
}

.Card > input {
  flex-grow: 1;
}


.forbiddenBox {
  /* position: fixed; */
  top: 50px; /* 원하는 위치로 조정 */
  right: 20px;
  width: 800px; /* 박스 너비 */
  height: auto; /* 높이는 내용에 따라 조절 */
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 금칙어가 많아지면 스크롤 */
}

.forbiddenBox h3 {
  margin-top: 0;
  text-align: center;
}

.forbiddenBox ul {
  list-style: none;
  padding: 0;
}

.forbiddenBox li {
  margin: 5px 0;
}


.afterToggleContainer {
  display: flex; 
  flex-direction:column;
  height:fit-content;
  width: 100vW;
  /* background-color: #333; */
}

.startGameSection, .connectedUserList {
  flex: 1;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 20px;
} 



.Card button {
  width: 200px;
  padding: 10px 20px;   /* 버튼의 크기를 적절히 설정 */
  margin: 5px;
}
