@font-face {
  font-family: 'Ownglyph_JAEGEONSA-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_JAEGEONSA-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 전체 앱에 폰트 적용하고 싶다면 */
body {
  font-family: 'Ownglyph_JAEGEONSA-Rg', sans-serif;
}


:root {
  background-color: #A2CDCD;
  /* min-width:990px; */
  width:100vw;
  /* min-height:100vh; */
  height:100%;
  max-height:fit-content;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  text: #2D3436
}

html, body {
  min-height:100vh;
  margin:0;
  padding:0; 
}




input {
  border-radius:4px;
  background-color: #AC2F2F;
  border: 1px solid white;
  color: white;
  height: 40px;
  width:300px

}

ul {
  list-style: none;
  padding-left: 0;
}

@keyframes blinking-border {
  0% {
    border-color: red;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  }
  50% {
    border-color: transparent;
    box-shadow: none;
  }
  100% {
    border-color: red;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  }
}

.blinking-border {
  animation: blinking-border 1s infinite;
  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  padding: 8px; /* Adjust this value for the desired spacing */
  box-sizing: border-box; /* Ensures padding doesn’t increase the input size */
}

.rule-container {
  position: relative;
  display: inline-block;
}

.ruleDescribe {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.speech-bubble {
  position: absolute;
  top: 40px;
  left: -20px;
  width: 220px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #f9f9f9 transparent;
}

.rule-container:hover .speech-bubble {
  opacity: 1;
  transform: scale(1);
}

.nextButton {
  height: 36px;
}